@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oups! Something went wrong.</h4>
    <p>@Model.ExceptionMessage</p>
    <hr>
    <p class="mb-0 text-muted font-italic text-right">You might have gone against the rules and tried to do something not allowed.</p>
</div>
