@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">An error occurred while processing your request.</h4>
    @if (this.Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
        </p>
    }
    <hr>
    <p class="mb-0 text-muted font-italic text-right">Please contact the administrator for assistance.</p>
</div>