
@{
    ViewData["Title"] = "User Statistics";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<a class="btn btn-block btn-primary mt-3" asp-area="Administration" asp-controller="Dashboard" asp-action="UserRegistrations">User Registrations</a>

<a class="btn btn-primary mt-3" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Go Back</a>

