.logo {
    height: 50px;
}

.icon {
    width: 18px;
    height: 18px;
}

.item-image {
    width: 70px;
}

.equipment-box {
    position: relative;
}

.equipment-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.equipment-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.equipment-box:hover .equipment-image {
    opacity: 0.5;
}

.equipment-box:hover .equipment-middle {
    opacity: 1;
}

.equipment-text {
    color: lightgray;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.equipment-text:hover {
    color: lightgray;
    text-decoration: none;
}

.village-area {
    width: 80px;
    height: 80px;
}

.area-icon {
    position: absolute;
    height: 50px;
    left: 0;
}

.info-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
}

.heal-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 0px;
}

.fight-log-icon {
    width: 25px;
    height: 25px;
}

.carousel-image {
    width: 100%;
    opacity: 0.5;
}

.bottom-50 {
    bottom: 50%;
}

.img-shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.img-jump:hover {
    animation: jump 1.2s;
    animation-iteration-count: infinite;
}

.img-rotate:hover {
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.notification:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
