.logo {
    height: 50px;
}

.icon {
    width: 18px;
    height: 18px;
}

.amulet-icon {
    width: 25px;
}

.amulet-icon:hover {
    opacity: 0.7;
}

.item-image {
    width: 60px;
}

.village-area {
    width: 80px;
    height: 80px;
}

.area-icon {
    position: absolute;
    height: 50px;
    left: 0;
}

.info-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.heal-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 0px;
}

.fight-log-icon {
    width: 25px;
    height: 25px;
}

.carousel-image {
    width: 100%;
    opacity: 0.5;
}

.bottom-50 {
    bottom: 50%;
}

.opacity-30 {
    opacity: 0.3;
}

.side-menu-effects {
    height: auto;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d2c5eb #6610f2;
}

.img-shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.img-jump:hover {
    animation: jump 1.2s;
    animation-iteration-count: infinite;
}

.img-rotate:hover {
    animation: rotate 5s;
    animation-iteration-count: infinite;
}

.notification:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

notification-image {
    width: 40px;
}

.chat-message {
    max-height: none;
}

#chat-messages {
    height: 400px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d2c5eb #6610f2;
}