@model FarmHeroes.Web.ViewModels.ViewComponentsModels.SideMenuBonusesViewComponentModel

@if (Model.ActiveBonuses.Length > 0)
{
    <li id="effects-side-menu" class="nav-item side-menu-element d-none">
        <h5 class="text-uppercase">@Localizer["Effects-Title"]</h5>
        <div>
            @foreach (var bonus in Model.ActiveBonuses)
            {
                <div class="text-left">
                    <img src="@bonus.ImageUrl" alt="bonus" class="img-fluid amulet-icon" data-toggle="tooltip" data-placement="right" title="@bonus.Name">
                    <small>@($"{(bonus.ActiveUntil - DateTime.UtcNow).Days} d {(bonus.ActiveUntil - DateTime.UtcNow).Hours} h {(bonus.ActiveUntil - DateTime.UtcNow).Minutes} m")</small>
                </div>
            }
        </div>
    </li>
}