@using FarmHeroes.Data.Models.Enums
@model FarmHeroes.Web.ViewModels.HeroModels.HeroCreateInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div class="row mt-2">
    <div class="col-4">
        <img src="~/images/avatars/sheep-male.jpg" alt="sheep" class="img-fluid float-left">
    </div>
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="@User.Identity.Name" disabled>
                <small class="form-text text-muted">Your hero name is the same as your username.</small>
            </div>
            <label asp-for="Gender">Gender</label>
            <select asp-for="Gender" class="form-control form-control-sm" asp-items="@Html.GetEnumSelectList<Gender>()">
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
            <label asp-for="Fraction">Fraction</label>
            <select asp-for="Fraction" class="form-control form-control-sm" asp-items="@Html.GetEnumSelectList<Fraction>()">
            </select>
            <span asp-validation-for="Fraction" class="text-danger"></span>
            <button type="submit" class="btn btn-primary btn-block mt-3">Create Hero</button>
        </form>
    </div>
    <div class="col-4">
        <img src="~/images/avatars/pig-female.jpg" alt="sheep" class="img-fluid float-right">
    </div>
</div>
