@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/village/mine/mine.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <p class="text-success">You finished digging! Click the button below to collect your crystals.</p>
    <a class="btn btn-success" href="/Mine/Collect">Collect</a>
</div>

