
@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/village/farm/farm.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <p class="text-success">You finished working! Click the button below to collect your salary.</p>
    <a class="btn btn-success" href="/Farm/Collect">Collect</a>
</div>

