@model FarmHeroes.Web.ViewModels.ViewComponentsModels.SideMenuResourcesViewComponentModel

<li id="resources-side-menu" class="nav-item side-menu-element">
    <h5 class="text-uppercase">@Localizer["Resources-Title"]</h5>
    <div class="text-left">
        <span class="text-left mr-2">
            <img src="~/images/icons/dungeon-key-icon.png" alt="dungeon-key" class="img-fluid icon">
            <small>@Model.DungeonKeys</small>
        </span>
    </div>
</li>