@{
    ViewData["Title"] = "Village";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<img src="~/images/village/village.jpg" alt="village-image" class="row img-fluid m-auto">
<div class="row m-3">
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Helmet">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/shop-village.png" alt="shop" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Shop</u>
                    <p>You can buy yourself equipment, elixirs, and many more things from here.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Farm" asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/farm-village.png" alt="farm" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Farm</u>
                    <p>That's the place you can earn yourself some fair money.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row m-3">
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Smith" asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/smith-village.png" alt="smith" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Smith</u>
                    <p>You can upgrade your items in exchange for some money.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Mine" asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/mine-village.png" alt="mine" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Mine</u>
                    <p>That's where you can dig for some crystals.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row m-3">
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Hut" asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/hut-village.png" alt="hut" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Hut</u>
                    <p>Your house is your castle. Protect yourself and your resources.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <a class="text-white text-decoration-none" asp-area="Village" asp-controller="Harbour" asp-action="Index">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/harbour-village.png" alt="hut" class="img-fluid clickable">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Harbour</u>
                    <p>That's where you can catch fish.</p>
                </div>
            </div>
        </a>
    </div>
</div>