
@{
    ViewData["Title"] = "Village";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<img src="~/images/village/village.jpg" alt="village-image" class="row img-fluid m-auto">
<div class="row m-3">
    <div class="col-6">
        <a href="/Shop/Helmets" class="text-white text-decoration-none">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/shop-village.png" alt="shop" class="img-fluid">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Shop</u>
                    <p>You can buy yourself equipment, elixirs, and many more things from here.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a href="/Farm" class="text-white text-decoration-none">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/farm-village.png" alt="farm" class="img-fluid">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Farm</u>
                    <p>That's the place you can earn yourself some fair money.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row m-3">
    <div class="col-6">
        <a href="/Smith" class="text-white text-decoration-none">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/smith-village.png" alt="smith" class="img-fluid">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Smith</u>
                    <p>You can upgrade your items in exchange for some money.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a href="/Mine" class="text-white text-decoration-none">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/village/mine-village.png" alt="mine" class="img-fluid">
                </div>
                <div class="col-8">
                    <u class="text-uppercase font-weight-bold">Mine</u>
                    <p>That's where you can dig for some crystals.</p>
                </div>
            </div>
        </a>
    </div>
</div>