@model FarmHeroes.Web.ViewModels.NewsModels.NewsDetailsViewModel
@{
    ViewData["Title"] = "News";
    if (this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LoggedLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_GuestLayout.cshtml";
    }
}

<h1 class="mb-0">@Model.Title</h1>
<small class="mt-0">Published on: @Model.PublishedOn</small>
<img class="img-fluid d-block mt-2 mb-2" style="width: 200px; height: 200px" src="@Model.ImageUrl" />
@Html.Raw(Model.Content)

<a asp-area="" asp-controller="News" asp-action="Index" class="btn btn-primary text-uppercase">Back</a>
