@model FarmHeroes.Web.ViewModels.MineModels.MineViewModel
@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/village/mine/mine.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <div id="work-body">
        @if (!Model.DoesWork)
        {
            <p>Dig for 2.5 minutes and find from 1 to 5 crystals.</p>
            <button onclick="startWork('mine')" class="btn btn-primary">Dig</button>
        }
        else
        {
            if (Model.IsWorkFinished)
            {
                <p class="text-success">You finished digging! Click the button below to collect your crystals.</p>
                <button class="btn btn-success" onclick="collect('mine')">Collect</button>
            }
            else
            {
                <p>Time left until you finish work:</p>
                <vc:timer dom-element-id="work_1" date-time="@Model.ChronometerWorkUntil"></vc:timer>
                <p class="text-danger">NOTE: If you cancel the process, you will not receive any rewards.</p>
                <button class="btn btn-danger" onclick="cancelWork('mine')">Cancel</button>
            }
        }
    </div>
</div>

<script src="~/js/ajax-calls/work.js" asp-append-version="true"></script>